In [1]:
# Importing libraries and packages:

from sklearn.neural_network import MLPClassifier

from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
from sklearn import metrics
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import Normalizer

In [2]:
from sklearn.linear_model import LinearRegression

In [3]:
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation, Flatten

Using TensorFlow backend.

In [4]:
from keras import backend
def rmse(y_true, y_pred):
    return backend.sqrt(backend.mean(backend.square(y_pred - y_true), axis=-1))

In [22]:
import pandas as pd
 
train_df = pd.read_csv('sales_train_v2.csv')
train_df.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [23]:
#Group monthly item_cnt amount
temp = train_df.groupby(['date_block_num','shop_id','item_id'])['item_cnt_day'].sum().reset_index()
temp2 = train_df.groupby(['date_block_num','shop_id','item_id'])['item_price'].mean().reset_index()
train_df = pd.merge(temp, temp2, how='inner', on=['date_block_num', 'shop_id','item_id'])
temp = []
temp2 = []
train_df

         date_block_num  shop_id  item_id  item_cnt_day  item_price
0                     0        0       32           6.0       221.0
1                     0        0       33           3.0       347.0
2                     0        0       35           1.0       247.0
3                     0        0       43           1.0       221.0
4                     0        0       51           2.0       128.5
5                     0        0       61           1.0       195.0
6                     0        0       75           1.0        76.0
7                     0        0       88           1.0        76.0
8                     0        0       95           1.0       193.0
9                     0        0       96           1.0        70.0
10                    0        0       98          25.0       268.0
11                    0        0      111           1.0        89.0
12                    0        0      149           3.0        99.0
13                    0        0      151           1.0        75.0
14                    0        0      153           1.0       258.0
15                    0        0      198           1.0       112.0
16                    0        0      210           2.0       118.0
17                    0        0      282           1.0       109.0
18                    0        0      306           1.0        59.0
19                    0        0      351           1.0        89.0
20                    0        0      421           1.0       162.0
21                    0        0      438           1.0       162.0
22                    0        0      482           2.0      1360.0
23                    0        0      484           4.0       124.0
24                    0        0      491           1.0       361.0
25                    0        0      498           1.0       124.0
26                    0        0      556           9.0        90.0
27                    0        0      642           6.0        90.0
28                    0        0      651           7.0        90.0
29                    0        0      657           2.0        90.0
...                 ...      ...      ...           ...         ...
1609094              33       59    19894           1.0       199.0
1609095              33       59    19985           1.0       299.0
1609096              33       59    20303           1.0       399.0
1609097              33       59    20305           1.0       449.0
1609098              33       59    20335           1.0      1149.0
1609099              33       59    20355           1.0      1249.0
1609100              33       59    20392           1.0      2199.0
1609101              33       59    20604           2.0       999.0
1609102              33       59    20614           1.0      1099.0
1609103              33       59    20629           1.0      2399.0
1609104              33       59    20730           1.0       499.0
1609105              33       59    20751           1.0       699.0
1609106              33       59    20866           4.0       699.0
1609107              33       59    20949          19.0         5.0
1609108              33       59    21361           1.0      1999.0
1609109              33       59    21364           1.0       399.0
1609110              33       59    21369           2.0       169.0
1609111              33       59    21377           1.0       169.0
1609112              33       59    21386           1.0       169.0
1609113              33       59    21404           1.0       169.0
1609114              33       59    21427           1.0       169.0
1609115              33       59    21449           2.0       449.0
1609116              33       59    21672           1.0       249.0
1609117              33       59    21811           1.0       199.0
1609118              33       59    21812           1.0        99.0
1609119              33       59    22087           6.0       119.0
1609120              33       59    22088           2.0       119.0
1609121              33       59    22091           1.0       179.0
1609122              33       59    22100           1.0       629.0
1609123              33       59    22102           1.0      1250.0

[1609124 rows x 5 columns]

In [24]:
test_df = pd.read_csv('test.csv')
test_df.shape

(214200, 3)

In [25]:
X_train = train_df
X_test = train_df[train_df['date_block_num'].isin([33])]

In [26]:
temp = train_df[['shop_id','item_id','item_price']].groupby(['shop_id','item_id'])['item_price'].min().reset_index()
test_df = pd.merge(test_df, temp, how='left', on=['shop_id','item_id'])
test_df.shape

(214200, 4)

In [27]:
X_train["date_block_num"] = X_train["date_block_num"].apply(lambda x: x%12)
# X_test["date_block_num"] = X_test["date_block_num"].apply(lambda x: x%12)

In [28]:
feature_cols = X_train.columns.values

X = X_train[feature_cols]  

y = X_train['item_cnt_day']

X = X.drop(['item_cnt_day','item_id'], axis=1)

In [30]:
X = pd.get_dummies(X,columns=['date_block_num','shop_id'])
scalerX = MinMaxScaler(copy=True, feature_range=(0, 1))
X = pd.DataFrame(data = scalerX.fit_transform(X), columns = X.columns.values)

c:\users\daniel chang\appdata\local\programs\python\python37\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype uint8, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

# Keras

In [18]:
model = Sequential()
model.add(Dense(2, input_dim=73, activation='relu'))
model.add(Dense(1, activation='softmax'))
model.compile(loss='mse', optimizer='adam', metrics=[rmse])
model.fit(X_train, y_train, validation_split=0.2, batch_size=128, epochs=4, verbose=1)

W0919 01:07:32.423914 11776 deprecation_wrapper.py:119] From C:\Users\Daniel Chang\AppData\Roaming\Python\Python37\site-packages\keras\backend\tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

W0919 01:07:32.460815 11776 deprecation_wrapper.py:119] From C:\Users\Daniel Chang\AppData\Roaming\Python\Python37\site-packages\keras\backend\tensorflow_backend.py:1020: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

Train on 1287299 samples, validate on 321825 samples
Epoch 1/4
1287299/1287299 [==============================] - 26s 20us/step - loss: 70.0347 - rmse: 1.3037 - val_loss: 101.9922 - val_rmse: 1.1490
Epoch 2/4
1287299/1287299 [==============================] - 25s 19us/step - loss: 70.0347 - rmse: 1.3037 - val_loss: 101.9922 - val_rmse: 1.1490
Epoch 3/4
1287299/1287299 [==============================] - 25s 20us/step - loss: 70.0347 - rmse: 1.3037 - val_loss: 101.9922 - val_rmse: 1.1490
Epoch 4/4
1287299/1287299 [==============================] - 25s 20us/step - loss: 70.0347 - rmse: 1.3037 - val_loss: 101.9922 - val_rmse: 1.1490

# Linear Regression

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, 
                                                    random_state=2)
my_linreg = LinearRegression()

my_linreg.fit(X_train, y_train)

y_prediction = my_linreg.predict(X_test)
# Calculating "Mean Square Error" (MSE):
mse = metrics.mean_squared_error(y_test, y_prediction)

# Using numpy sqrt function to take the square root and calculate "Root Mean Square Error" (RMSE)
rmse = np.sqrt(mse)
rmse

8.684918690794719

# Output csv file

In [32]:
test_df['date_block_num'] = 10
test_df.head()

   ID  shop_id  item_id  item_price  date_block_num
0   0        5     5037       749.5              10
1   1        5     5320         NaN              10
2   2        5     5233       599.0              10
3   3        5     5232       599.0              10
4   4        5     5268         NaN              10

# New Items in 2015 Nov

In [33]:
temp = test_df[test_df.isna().any(axis=1)]
temp

            ID  shop_id  item_id  item_price  date_block_num
1            1        5     5320         NaN              10
4            4        5     5268         NaN              10
9            9        5     5003         NaN              10
16          16        5     4874         NaN              10
21          21        5     5002         NaN              10
25          25        5     5907         NaN              10
26          26        5     5908         NaN              10
31          31        5     5668         NaN              10
45          45        5     5826         NaN              10
64          64        5     3538         NaN              10
65          65        5     3571         NaN              10
70          70        5     3604         NaN              10
74          74        5     3407         NaN              10
75          75        5     3408         NaN              10
77          77        5     3405         NaN              10
105        105        5     3831         NaN              10
106        106        5     3898         NaN              10
109        109        5     3984         NaN              10
111        111        5     4053         NaN              10
112        112        5     4054         NaN              10
113        113        5     4055         NaN              10
116        116        5     8327         NaN              10
126        126        5     9391         NaN              10
128        128        5     9039         NaN              10
131        131        5     9496         NaN              10
137        137        5     8548         NaN              10
139        139        5     8551         NaN              10
144        144        5     8822         NaN              10
145        145        5     8823         NaN              10
146        146        5     8824         NaN              10
...        ...      ...      ...         ...             ...
214134  214134       45    10578         NaN              10
214136  214136       45    10823         NaN              10
214137  214137       45    10541         NaN              10
214138  214138       45    10516         NaN              10
214139  214139       45    10977         NaN              10
214141  214141       45    10697         NaN              10
214143  214143       45     8798         NaN              10
214144  214144       45     8797         NaN              10
214145  214145       45     8796         NaN              10
214146  214146       45     9205         NaN              10
214148  214148       45     9377         NaN              10
214149  214149       45     9419         NaN              10
214150  214150       45     7572         NaN              10
214154  214154       45     9030         NaN              10
214157  214157       45    19024         NaN              10
214161  214161       45     1867         NaN              10
214164  214164       45    18666         NaN              10
214166  214166       45     1041         NaN              10
214167  214167       45    11467         NaN              10
214170  214170       45    14543         NaN              10
214173  214173       45    12470         NaN              10
214176  214176       45    11137         NaN              10
214183  214183       45     9978         NaN              10
214184  214184       45    10767         NaN              10
214186  214186       45    14341         NaN              10
214188  214188       45     9500         NaN              10
214189  214189       45    16007         NaN              10
214194  214194       45    18027         NaN              10
214196  214196       45    16188         NaN              10
214198  214198       45    19648         NaN              10

[102796 rows x 5 columns]

In [34]:
test_df = test_df.fillna(method='ffill')
test_df

            ID  shop_id  item_id   item_price  date_block_num
0            0        5     5037   749.500000              10
1            1        5     5320   749.500000              10
2            2        5     5233   599.000000              10
3            3        5     5232   599.000000              10
4            4        5     5268   599.000000              10
5            5        5     5039   749.500000              10
6            6        5     5041  3832.333333              10
7            7        5     5046   299.000000              10
8            8        5     5319   299.000000              10
9            9        5     5003   299.000000              10
10          10        5     4806    49.000000              10
11          11        5     4843  9999.000000              10
12          12        5     4607   299.000000              10
13          13        5     4869  1199.000000              10
14          14        5     4870   799.000000              10
15          15        5     4872   882.125000              10
16          16        5     4874   882.125000              10
17          17        5     4678   299.000000              10
18          18        5     4892   998.833333              10
19          19        5     4964  2999.000000              10
20          20        5     4717   299.000000              10
21          21        5     5002   299.000000              10
22          22        5     5823  2599.000000              10
23          23        5     5814   599.000000              10
24          24        5     5900   398.000000              10
25          25        5     5907   398.000000              10
26          26        5     5908   398.000000              10
27          27        5     5643  2290.000000              10
28          28        5     5657  4490.000000              10
29          29        5     5675   249.000000              10
...        ...      ...      ...          ...             ...
214170  214170       45    14543  2290.000000              10
214171  214171       45    19253   299.000000              10
214172  214172       45    17957   515.130000              10
214173  214173       45    12470   515.130000              10
214174  214174       45     7543   149.000000              10
214175  214175       45     6661   419.300000              10
214176  214176       45    11137   419.300000              10
214177  214177       45    11489   149.000000              10
214178  214178       45     9782   899.000000              10
214179  214179       45     2972   299.250000              10
214180  214180       45    19889   149.000000              10
214181  214181       45    20650   899.000000              10
214182  214182       45     5665  1090.000000              10
214183  214183       45     9978  1090.000000              10
214184  214184       45    10767  1090.000000              10
214185  214185       45    14443   149.000000              10
214186  214186       45    14341   149.000000              10
214187  214187       45     5401   799.000000              10
214188  214188       45     9500   799.000000              10
214189  214189       45    16007   799.000000              10
214190  214190       45     3280   299.000000              10
214191  214191       45     4393  1999.000000              10
214192  214192       45     4352  1499.000000              10
214193  214193       45    18049   299.000000              10
214194  214194       45    18027   299.000000              10
214195  214195       45    18454    99.000000              10
214196  214196       45    16188    99.000000              10
214197  214197       45    15757   199.000000              10
214198  214198       45    19648   199.000000              10
214199  214199       45      969   549.000000              10

[214200 rows x 5 columns]

In [35]:
feature_cols = X.columns.values

# use the above list to select the features from the original DataFrame
test = test_df[feature_cols]
test = test.drop(['ID','item_id'], axis=1)
test.head()

   shop_id  item_price  date_block_num
0        5       749.5              10
1        5       749.5              10
2        5       599.0              10
3        5       599.0              10
4        5       599.0              10

In [43]:
# test = pd.get_dummies(test,columns=['date_block_num','shop_id'])
test['date_block_num_0']=0
test['date_block_num_1']=0
test['date_block_num_2']=0
test['date_block_num_3']=0
test['date_block_num_4']=0
test['date_block_num_5']=0
test['date_block_num_6']=0
test['date_block_num_7']=0
test['date_block_num_8']=0
test['date_block_num_9']=0
test['date_block_num_11']=0
test['shop_id_0']=0
test['shop_id_1']=0
test['shop_id_8']=0
test['shop_id_9']=0
test['shop_id_11']=0
test['shop_id_13']=0
test['shop_id_17']=0
test['shop_id_20']=0
test['shop_id_23']=0
test['shop_id_27']=0
test['shop_id_29']=0
test['shop_id_30']=0
test['shop_id_32']=0
test['shop_id_33']=0
test['shop_id_40']=0
test['shop_id_43']=0
test['shop_id_51']=0
test['shop_id_54']=0

In [44]:
test = pd.DataFrame(data = scalerX.transform(test), columns = test.columns.values)
test.head()

,item_price,date_block_num_10,shop_id_2,shop_id_3,shop_id_4,shop_id_5,shop_id_6,shop_id_7,shop_id_10,shop_id_12,...,shop_id_23,shop_id_27,shop_id_29,shop_id_30,shop_id_32,shop_id_33,shop_id_40,shop_id_43,shop_id_51,shop_id_54
0,0.002433,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.002433,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.001945,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.001945,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.001945,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [46]:
y_predict = my_linreg.predict(test)
y_predict.shape

(214200,)

In [47]:
raw_data = {'ID':test_df['ID'],
            'item_cnt_month':y_predict.flatten()}
df = pd.DataFrame(raw_data, columns = ['ID', 'item_cnt_month'])
df

            ID  item_cnt_month
0            0   -8.286709e+09
1            1   -8.286709e+09
2            2   -8.286709e+09
3            3   -8.286709e+09
4            4   -8.286709e+09
5            5   -8.286709e+09
6            6   -8.286709e+09
7            7   -8.286709e+09
8            8   -8.286709e+09
9            9   -8.286709e+09
10          10   -8.286709e+09
11          11   -8.286709e+09
12          12   -8.286709e+09
13          13   -8.286709e+09
14          14   -8.286709e+09
15          15   -8.286709e+09
16          16   -8.286709e+09
17          17   -8.286709e+09
18          18   -8.286709e+09
19          19   -8.286709e+09
20          20   -8.286709e+09
21          21   -8.286709e+09
22          22   -8.286709e+09
23          23   -8.286709e+09
24          24   -8.286709e+09
25          25   -8.286709e+09
26          26   -8.286709e+09
27          27   -8.286709e+09
28          28   -8.286709e+09
29          29   -8.286709e+09
...        ...             ...
214170  214170    2.281246e+00
214171  214171    2.023018e+00
214172  214172    2.051048e+00
214173  214173    2.051048e+00
214174  214174    2.003563e+00
214175  214175    2.038620e+00
214176  214176    2.038620e+00
214177  214177    2.003563e+00
214178  214178    2.100836e+00
214179  214179    2.023050e+00
214180  214180    2.003563e+00
214181  214181    2.100836e+00
214182  214182    2.125608e+00
214183  214183    2.125608e+00
214184  214184    2.125608e+00
214185  214185    2.003563e+00
214186  214186    2.003563e+00
214187  214187    2.087866e+00
214188  214188    2.087866e+00
214189  214189    2.087866e+00
214190  214190    2.023018e+00
214191  214191    2.243504e+00
214192  214192    2.178654e+00
214193  214193    2.023018e+00
214194  214194    2.023018e+00
214195  214195    1.997078e+00
214196  214196    1.997078e+00
214197  214197    2.010048e+00
214198  214198    2.010048e+00
214199  214199    2.055441e+00

[214200 rows x 2 columns]

In [51]:
df['item_cnt_month'] = df['item_cnt_month'].apply(lambda x: 0 if x<0 else x)
df

            ID  item_cnt_month
0            0        0.000000
1            1        0.000000
2            2        0.000000
3            3        0.000000
4            4        0.000000
5            5        0.000000
6            6        0.000000
7            7        0.000000
8            8        0.000000
9            9        0.000000
10          10        0.000000
11          11        0.000000
12          12        0.000000
13          13        0.000000
14          14        0.000000
15          15        0.000000
16          16        0.000000
17          17        0.000000
18          18        0.000000
19          19        0.000000
20          20        0.000000
21          21        0.000000
22          22        0.000000
23          23        0.000000
24          24        0.000000
25          25        0.000000
26          26        0.000000
27          27        0.000000
28          28        0.000000
29          29        0.000000
...        ...             ...
214170  214170        2.281246
214171  214171        2.023018
214172  214172        2.051048
214173  214173        2.051048
214174  214174        2.003563
214175  214175        2.038620
214176  214176        2.038620
214177  214177        2.003563
214178  214178        2.100836
214179  214179        2.023050
214180  214180        2.003563
214181  214181        2.100836
214182  214182        2.125608
214183  214183        2.125608
214184  214184        2.125608
214185  214185        2.003563
214186  214186        2.003563
214187  214187        2.087866
214188  214188        2.087866
214189  214189        2.087866
214190  214190        2.023018
214191  214191        2.243504
214192  214192        2.178654
214193  214193        2.023018
214194  214194        2.023018
214195  214195        1.997078
214196  214196        1.997078
214197  214197        2.010048
214198  214198        2.010048
214199  214199        2.055441

[214200 rows x 2 columns]

In [62]:
df['item_cnt_month'] = df['item_cnt_month'].where(~df['ID'].isin(temp['ID']), 0)
df

            ID  item_cnt_month
0            0             1.0
1            1             0.5
2            2             1.0
3            3             1.0
4            4             0.5
5            5             1.0
6            6             1.0
7            7             1.0
8            8             1.0
9            9             0.5
10          10             1.0
11          11             1.0
12          12             1.0
13          13             1.0
14          14             1.0
15          15             1.0
16          16             0.5
17          17             1.0
18          18             1.0
19          19             1.0
20          20             1.0
21          21             0.5
22          22             1.0
23          23             1.0
24          24             1.0
25          25             0.5
26          26             0.5
27          27             1.0
28          28             1.0
29          29             1.0
...        ...             ...
214170  214170             0.5
214171  214171             1.0
214172  214172             1.0
214173  214173             0.5
214174  214174             1.0
214175  214175             1.0
214176  214176             0.5
214177  214177             1.0
214178  214178             1.0
214179  214179             1.0
214180  214180             1.0
214181  214181             1.0
214182  214182             1.0
214183  214183             0.5
214184  214184             0.5
214185  214185             1.0
214186  214186             0.5
214187  214187             1.0
214188  214188             0.5
214189  214189             0.5
214190  214190             1.0
214191  214191             1.0
214192  214192             1.0
214193  214193             1.0
214194  214194             0.5
214195  214195             1.0
214196  214196             0.5
214197  214197             1.0
214198  214198             0.5
214199  214199             1.0

[214200 rows x 2 columns]

In [52]:
# raw_data = {'ID':test_df['ID'],
#             'item_cnt_month':y_predict.flatten()}
# df = pd.DataFrame(raw_data, columns = ['ID', 'item_cnt_month'])
df.to_csv('Result.csv',index=0)

In [53]:
result_df = pd.read_csv('Result.csv')
result_df['item_cnt_month'].unique()

array([0.        , 2.02614021, 1.96497345, ..., 2.05104828, 2.03862   ,
       2.02305031])